<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
            <h1>Enter the Chat room you want to join</h1>
            <br>
            <v-row :align="'center'">
            
            <v-text-field @keyup.enter="redirectChatRoom()" v-model='room_name' label="Enter the Chatroom" append-icon="mdi-arrow-right"
            @click:append="redirectChatRoom()"
            >Enter the room to join</v-text-field>
           
            
            </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      delimiters: ['${', '}'],

      data:()=>{
        return{
            room_name:''
        }
      },
      methods:{
        redirectChatRoom(){
            if(this.room_name!=''){
                window.location.pathname='chat/'+this.room_name
            }
        }
      },
      vuetify: new Vuetify(),
    })
  </script>
</body>
</html>